/* for PromoBar Settings page */
/*input for width */
.prmbr_width_disabled {
    cursor: default;
    display: none;  
}
/* comments for settings */
.prmbr_info {
    clear: both;
    color: #888888;
    font-size: 10px;
}
.prmbr_width {
    width: 38px;
    height: 20px;
}
/* for shortcode & function */
.prmbr_code {
    background-color: #dbdbdb;
}